RSS_SECRET="your_rss_secret_here"
FIREBASE_PROJECT_ID="your_firebase_project_id"
SERVICE_ACCOUNT=./serviceAccountKey.json

APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT=your_appwrite_project_id
APPWRITE_API_KEY=your_appwrite_api_key
APPWRITE_DATABASE_ID=your_appwrite_database_id

GEMINI_API_KEY=your_gemini_api_key

# Database Collections
RSS_COLLECTION_ID=news_sources
ARTICLES_COLLECTION_ID=articles
COLLECTION_FREE_GAMES=free_games
SUMMARIES_COLLECTION_ID=weekly_summaries

# Firebase Cloud Messaging Service Account (Minified JSON)
FCM_SERVICE_ACCOUNT={"type":"service_account","project_id":"your_firebase_project_id","private_key_id":"your_private_key_id","private_key":"-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n","client_email":"your_client_email@your_project.iam.gserviceaccount.com","client_id":"your_client_id","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"your_cert_url","universe_domain":"googleapis.com"}

# IGDB
TWITCH_CLIENT_ID="your_twitch_client_id"
TWITCH_CLIENT_SECRET="your_twitch_client_secret"
PORT=3000

# Cloudinary
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_UPLOAD_PRESET="Gaming Zone"

# Google Auth
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id.apps.googleusercontent.com

# Steam
STEAM_API_KEY=your_steam_api_key