# الأساسيات
.git/
node_modules/
.expo/
npm-debug.*

# مجلدات و ملفات غير متعلقة بتطبيق الموبايل
backend/
docs/
.github/
assets/screenshots/

# ملفات الـ Web والـ Builds المحلية
dist/
web-build/

# ملفات بيئة العمل والمحرر
.idea/
.vscode/
*.DS_Store

# ملفات الكي ستور والمفاتيح (لمنع رفع مفاتيح أندرويد الخاصة بالخطأ أو زيادة الحجم)
*.jks
*.keystore

# ملفات Android (لتجنب رفع ملفات البناء المؤقتة مع الإبقاء على كود الأندرويد نفسه)
android/build/
android/app/build/
android/.gradle/
android/local.properties

# ملفات iOS (بحال وجودها مستقبلا)
ios/Pods/
ios/build/

/web

# ملفات متعلقة باستضافة الويب والباك إند
vercel.json
.vercel/
firebase.json
firestore.rules
